body{
    background-color: #FFBBB4;
}

header{
    text-align: center;
    font-size: 40px;
    border-style: solid;
    background-color: #71A95A;
    border-color: #007944;
    border-width: 8px;
    margin: 50px;
}

#inputWindow{
    padding: 5px;
    background-color: #F35588;
    display: grid;
    height: 25vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
        "firstName imageWindow"
        "lastName imageWindow"
        "empID imageWindow"
        "empTitle imageWindow"
        "annualSalary imageWindow"
        "buttonWindow imageWindow";
}

.inputField{
    margin: 5px;
    border: outset;
    color: #EFEFEF;
    background-color: #cef1c1;
    border-color: #007944;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#firstName{
    grid-area: firstName;
}

#lastName{
    grid-area: lastName;
}

#empID{
    grid-area: empID;
}

#empTitle{
    grid-area: empTitle;
}

#annualSalary{
    grid-area: annualSalary;
}

::placeholder{
    color: #4e4245;
    font-weight: bold;
}

#firstName, #lastName, #empID, #empTitle{
    /* margin-bottom: 10px; */
}

#buttonWindow{
    grid-area: buttonWindow;
    text-align: center;
}

#add-btn{
    width: 50%;
    margin: 5px;
    color: black;
    border: outset;
    border-color: #007944;
    background-color: #71A95A;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#imageWindow{
    margin: 0.4%;
    background-color: #F35588;
    grid-area: imageWindow;
    object-fit: contain;
    overflow: hidden;
}

img{  
    width: 100%;
}

table{
    display: grid;
    height: 25vh;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: 
        "tableHead"
        "tableBody"
        "tableFoot";
}

#tableHead{
    background-color: chartreuse;
    grid-area: tableHead;
    width: 100vh;
}

#tableBody{
    background-color: #EFEFEF;
    grid-area: tableBody;
    width: 100vh;
}

#tableFoot{
    background-color: #007944;
    grid-area: tableFoot;
    width: 100vh;
}

/* table {
    border-collapse: collapse;
    width: 100%;
} */

/* th, td {
    text-align: left;
    padding: 8px;
} */

/* tr:nth-child(even){
    background-color: #f2f2f2;
} */

/* th {
    background-color: #2C3852;
    color: white;
    font-size: 18px;
} */

/* button {
    margin: 10px;
    background-color: #2C3852;
    border: ridge;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
} */
