body{
    background-color: #F35588;
}

header{
    text-align: center;
    font-size: 40px;
    border-style: solid;
    background-color: #71A95A;
    border-color: #007944;
    border-width: 8px;
    margin: 50px;
}

#inputWindow{
    padding: 5px;
    background-color: #edbfce;
    border-style: solid;
    border-color: #007944;
    border-width: 3px;
    display: grid;
    height: 25vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
        "firstName imageWindow"
        "lastName imageWindow"
        "empID imageWindow"
        "empTitle imageWindow"
        "annualSalary imageWindow"
        "buttonWindow imageWindow";
}

.inputField{
    margin: 5px;
    border: outset;
    color: #000000;
    background-color: #cef1c1;
    border-color: #007944;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#firstName{
    grid-area: firstName;
}

#lastName{
    grid-area: lastName;
}

#empID{
    grid-area: empID;
}

#empTitle{
    grid-area: empTitle;
}

#annualSalary{
    grid-area: annualSalary;
}

::placeholder{
    color: #4e4245;
    font-weight: bold;
}

#buttonWindow{
    grid-area: buttonWindow;
    text-align: center;
}

#add-btn{
    width: 50%;
    margin: 5px;
    color: black;
    border: outset;
    border-color: #007944;
    background-color: #71A95A;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#imageWindow{
    margin: 0.4%;
    background-color: #F35588;
    grid-area: imageWindow;
    object-fit: contain;
    overflow: hidden;
}

img{  
    width: 100%;
}

table{
    background-color: #F35588;
    display: grid;
    height: 25vh;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
        "tableHead"
        "tableBody"
        "tableFoot";
}

#tableHead{
    background-color: #FFBBB4;
    grid-area: tableHead;
    border-style: solid;
    border-color: #007944;
    border-width: 3px;
    width: 80%;
    justify-self: center;
    margin: 0.6%;
    font-size: 24px;
    text-align: center;
}

.tr0{
    display: flex;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    padding: 2px;
}

.td1{
    flex: 1;
    order: 1;
}

.td2{
    flex: 1;
    order: 2;
}

.td3{
    flex: 1;
    order: 3;
}

.td4{
    flex: 1;
    order: 4;
}

.td5{
    flex: 1;
    order: 5;
}

.td6{
    flex: 1;
    order: 6;
}

#tableBody{
    background-color: #edbfce;
    grid-area: tableBody;
    width: 80%;
    justify-self: center;
    margin: 0.6%;
    padding-top: 3px;
    border-style: solid;
    border-color: #007944;
    border-width: 3px;
}

.tr1{
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}

.td1{
    flex: 1;
    order: 1;
}

.td2{
    flex: 1;
    order: 2;
}

.td3{
    flex: 1;
    order: 3;
}

.td4{
    flex: 1;
    order: 4;
}

.td5{
    flex: 1;
    order: 5;
}

.td6{
    flex: 1;
    order: 6;
}

#tableFoot{
    background-color: #71A95A;
    grid-area: tableFoot;
    width: 80%;
    justify-self: center;
    margin: 0.6%;
    display: inline-block;
    text-align: right;
    border-style: solid;
    border-color: #007944;
    border-width: 3px;
}

.tr2{
    display: flex;
    text-align: right;
    padding: 2px;
}

.td7{
    order: 6;
    text-align: right;
    font-size: 36px;
    font-weight: bolder;
}

tr:nth-child(even){
    background-color: #f2f2f2;
} 